{% extends 'AI_composer/base.html' %}
    {% block content %}
      <div class="button_container">
          <button type='button' class='btn play/stop' >PLAY/STOP</button>
          <button type='button' class='btn pause/resume'>PAUSE/RESUME</button>
          <button type='button' class='btn random_song' ><a href='/application'>random_song</a></button>
      </div>

      <div id='slider_container'>
        
      </div>
      <!--
      
      -->
      <div id='grid_container'>
        <canvas id="grid" width=1000 height=300></canvas>
      </div>
      <div id='piano_container'>
      </div>

      

      <script>
        var data='{{data|escapejs}}';
        data = data.replace(/'/g, '"');
      </script>
    {% endblock content %}

    

